@import "partials/base";

body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style-type:none;
}
img{
    width:100%;
}
header{
    width:100%;
    height:106px;
    background:$gris;
    box-sizing: border-box;
    padding:$padding-contenedor;
    display:flex;
    justify-content:space-between;
    align-items: center;
    text-transform: $mayusculas;
    color:$blanco;
    font-weight: bold;
    .marca{
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1rem;
        font-size: 2rem;
        font-weight: bold;
    }
    ul{
        width:30%;
        display:flex;
        justify-content: space-between;
        li{
            width:ul/3;
            &:hover{
                color:$verde;
            }
        }
    }
}
.presentacion{
    background:$verde;
    box-sizing: border-box;
    padding-top:$padding-top;
    display:flex;
    flex-direction: column;
    align-items: center;
    img{
        width:256px;
    }
}


