@import "partials/base";

body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    position:relative;
}
ul{
    list-style-type:none;
}
header{
    position:fixed;
    top:0px;
    width:100%;
    height:$alto-header;
    background:$gris;
    box-sizing: border-box;
    padding:$padding-contenedor;
    display:flex;
    justify-content:space-between;
    align-items: center;
    text-transform: $mayusculas;
    color:$blanco;
    font-weight: bold;
    .marca{
        font-size:$texto-grande;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1rem;
    }
    ul{
        width:30%;
        display:flex;
        justify-content: space-between;
        li{
            &:hover{
                color:$verde;
            }
        }
    }
}
.presentacion{
    background:$verde;
    box-sizing: border-box;
    padding-top:$alto-header + $padding-top;
    display:flex;
    flex-direction: column;
    align-items: center;
    img{
        width:256px;
    }
    h1{
        font-size: 4em;
        font-weight:bold;
        color:$blanco;
    }
    hr{
        width:200px;
        border:$linea;
        border-color: $blanco;
        margin:o;
    }
    h4{
        font-size: 1.75em;
        color:$blanco;
    }
    
}
.portfolio{
    width:100%;
    background: $blanco;
    box-sizing: border-box;
    padding: $padding-top;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: $padding-contenedor;
    h2{
        font-size: 3em;
        font-weight:bold;
        color:$gris;
        text-transform: $mayusculas;
    }
    hr{
        width:200px;
        border:$linea;
        border-color:$gris;
        margin:o;
    }
    .trabajos{
        padding-top:$padding-top;
        display:flex;
        flex:wrap;
        justify-content: space-around;
        .contenedor_imagen{
            width:100%;
        }


        img{
            width:100%;;
        }
    }
}

