@import "partials/base";

body{
    margin:0;
}
li{
    text-decoration-style:none;
}
header{
    width:100%;
    height:50px;
    background: $gris;
    .marca{
        /*display: inline-block;*/
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        /*line-height: inherit;*/
        /*white-space: nowrap;*/
    }
}


